		<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="d-flex align-items-center me-3">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Blog Home</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="index.html" class="text-muted text-hover-primary">Home</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Pages</li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Blog</li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-dark">Blog Home</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
        <!--begin::Actions-->
        <div class="d-flex align-items-center py-1">
            <!--begin::Wrapper-->
            <div class="me-4">
                <!--begin::Menu-->
                <a href="#" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                    <!--begin::Svg Icon | path: icons/stockholm/Text/Filter.svg-->
                    <span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z" fill="#000000" />
                            </g>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->Filter
                </a>
                <!--begin::Menu 1-->
                <div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true">
                    <!--begin::Header-->
                    <div class="px-7 py-5">
                        <div class="fs-5 text-dark fw-bolder">Filter Options</div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Menu separator-->
                    <div class="separator border-gray-200"></div>
                    <!--end::Menu separator-->
                    <!--begin::Form-->
                    <div class="px-7 py-5">
                        <!--begin::Input group-->
                        <div class="mb-10">
                            <!--begin::Label-->
                            <label class="form-label fw-bold">Status:</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <div>
                                <select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true">
                                    <option></option>
                                    <option value="1">Approved</option>
                                    <option value="2">Pending</option>
                                    <option value="2">In Process</option>
                                    <option value="2">Rejected</option>
                                </select>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="mb-10">
                            <!--begin::Label-->
                            <label class="form-label fw-bold">Member Type:</label>
                            <!--end::Label-->
                            <!--begin::Options-->
                            <div class="d-flex">
                                <!--begin::Options-->
                                <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                                    <input class="form-check-input" type="checkbox" value="1" />
                                    <span class="form-check-label">Author</span>
                                </label>
                                <!--end::Options-->
                                <!--begin::Options-->
                                <label class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="2" checked="checked" />
                                    <span class="form-check-label">Customer</span>
                                </label>
                                <!--end::Options-->
                            </div>
                            <!--end::Options-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="mb-10">
                            <!--begin::Label-->
                            <label class="form-label fw-bold">Notifications:</label>
                            <!--end::Label-->
                            <!--begin::Switch-->
                            <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                <input class="form-check-input" type="checkbox" value="" name="notifications" checked="checked" />
                                <label class="form-check-label">Enabled</label>
                            </div>
                            <!--end::Switch-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Actions-->
                        <div class="d-flex justify-content-end">
                            <button type="reset" class="btn btn-sm btn-white btn-active-light-primary me-2" data-kt-menu-dismiss="true">Reset</button>
                            <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Menu 1-->
                <!--end::Menu-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Button-->
            <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">Create</a>
            <!--end::Button-->
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Home card-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-20">
                <!--begin::Section-->
                <div class="mb-17">
                    <!--begin::Title-->
                    <h3 class="text-black mb-7">Latest Articles, News &amp; Updates</h3>
                    <!--end::Title-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed mb-9"></div>
                    <!--end::Separator-->
                    <!--begin::Row-->
                    <div class="row">
                        <!--begin::Col-->
                        <div class="col-md-6">
                            <!--begin::Feature post-->
                            <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-10">
                                <!--begin::Video-->
                                <div class="mb-3">
                                    <iframe class="embed-responsive-item card-rounded h-275px w-100" src="https://www.youtube.com/embed/qIHXpnASPAA" allowfullscreen="allowfullscreen"></iframe>
                                </div>
                                <!--end::Video-->
                                <!--begin::Body-->
                                <div class="mb-5">
                                    <!--begin::Title-->
                                    <a href="#" class="fs-2 text-dark fw-bolder text-hover-primary text-dark lh-base">
                                        Metronic Admin - How To Get Started Tutorial.
                                        <br />Create easy customizable applications
                                    </a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-4">We’ve been focused on making the from v4 to v5 but we have also not been afraid to step away been focused on from v4 to v5 speaker approachable making focused a but from a step away afraid to step away been focused Writing a blog post is a little like driving; you can study the highway code (or read articles telling you how to write a blog post) for months, but nothing can prepare you for the real thing like getting behind the wheel</div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                                <!--begin::Footer-->
                                <div class="d-flex flex-stack flex-wrap">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center pe-2">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-35px symbol-circle me-3">
                                            <img alt="" src="~/Content/metronic/dist/assets/media/avatars/150-8.jpg" />
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Text-->
                                        <div class="fs-5 fw-bolder">
                                            <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">David Morgan</a>
                                            <span class="text-muted">on Apr 27 2021</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Label-->
                                    <span class="badge badge-light-primary fw-bolder my-2">TUTORIALS</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Footer-->
                            </div>
                            <!--end::Feature post-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-6 justify-content-between d-flex flex-column">
                            <!--begin::Post-->
                            <div class="ps-lg-6 mb-16 mt-lg-0 mt-17">
                                <!--begin::Body-->
                                <div class="mb-6">
                                    <!--begin::Title-->
                                    <a href="#" class="fw-bolder text-dark mb-4 fs-2 lh-base text-hover-primary">Metronic Admin - How To Get Started Tutorial. Create customizable applications</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 mt-4 text-gray-600 text-dark">We’ve been focused on making the from v4 to v5 a but we’ve also not been afraid to step away been focused on from v4 to v5 speaker approachable making focused</div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                                <!--begin::Footer-->
                                <div class="d-flex flex-stack flex-wrap">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center pe-2">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-35px symbol-circle me-3">
                                            <img src="~/Content/metronic/dist/assets/media/avatars/150-5.jpg" class="" alt="" />
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Text-->
                                        <div class="fs-5 fw-bolder">
                                            <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">Jane Miller</a>
                                            <span class="text-muted">on Apr 27 2021</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Label-->
                                    <span class="badge badge-light-info fw-bolder my-2">BLOG</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Footer-->
                            </div>
                            <!--end::Post-->
                            <!--begin::Post-->
                            <div class="ps-lg-6 mb-16">
                                <!--begin::Body-->
                                <div class="mb-6">
                                    <!--begin::Title-->
                                    <a href="#" class="fw-bolder text-dark mb-4 fs-2 lh-base text-hover-primary">Metronic Admin - How To Get Started Tutorial.</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 mt-4 text-gray-600 text-dark">We’ve been focused on making the from v4 to v5 a but we’ve also not been afraid to step away</div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                                <!--begin::Footer-->
                                <div class="d-flex flex-stack flex-wrap">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center pe-2">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-35px symbol-circle me-3">
                                            <img src="~/Content/metronic/dist/assets/media/avatars/150-8.jpg" class="" alt="" />
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Text-->
                                        <div class="fs-5 fw-bolder">
                                            <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">Cris Morgan</a>
                                            <span class="text-muted">on Mar 14 2021</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Label-->
                                    <span class="badge badge-light-primary fw-bolder my-2">TUTORIALS</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Footer-->
                            </div>
                            <!--end::Post-->
                            <!--begin::Post-->
                            <div class="ps-lg-6">
                                <!--begin::Body-->
                                <div class="mb-6">
                                    <!--begin::Title-->
                                    <a href="#" class="fw-bolder text-dark mb-4 fs-2 lh-base text-hover-primary">Metronic Admin - How To Get Started Tutorial. Create best applications</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 mt-4 text-gray-600 text-dark">We’ve been focused on making the from v4 to v5 but we’ve also not been afraid to step away been focused</div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                                <!--begin::Footer-->
                                <div class="d-flex flex-stack flex-wrap">
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center pe-2">
                                        <!--begin::Avatar-->
                                        <div class="symbol symbol-35px symbol-circle me-3">
                                            <img src="~/Content/metronic/dist/assets/media/avatars/150-24.jpg" class="" alt="" />
                                        </div>
                                        <!--end::Avatar-->
                                        <!--begin::Text-->
                                        <div class="fs-5 fw-bolder">
                                            <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">Cris Morgan</a>
                                            <span class="text-muted">on Mar 14 2021</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Label-->
                                    <span class="badge badge-light-warning fw-bolder my-2">NEWS</span>
                                    <!--end::Label-->
                                </div>
                                <!--end::Footer-->
                            </div>
                            <!--end::Post-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--begin::Row-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="mb-17">
                    <!--begin::Content-->
                    <div class="d-flex flex-stack mb-5">
                        <!--begin::Title-->
                        <h3 class="text-black">Video Tutorials</h3>
                        <!--end::Title-->
                        <!--begin::Link-->
                        <a href="#" class="fs-6 fw-bold link-primary">View All Videos</a>
                        <!--end::Link-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed mb-9"></div>
                    <!--end::Separator-->
                    <!--begin::Row-->
                    <div class="row g-10">
                        <!--begin::Col-->
                        <div class="col-md-4">
                            <!--begin::Feature post-->
                            <div class="card-xl-stretch me-md-6">
                                <!--begin::Image-->
                                <a class="d-block bgi-no-repeat bgi-size-cover bgi-position-center card-rounded position-relative min-h-175px mb-5" style="background-image:url('/Content/metronic/dist/assets/media/stock/900x600/9.jpg')" data-fslightbox="lightbox-video-tutorials" href="https://www.youtube.com/embed/ptgwzvvAHy4">
                                    <img src="~/Content/metronic/dist/assets/media/svg/misc/video-play.svg" class="position-absolute top-50 start-50 translate-middle" alt="" />
                                </a>
                                <!--end::Image-->
                                <!--begin::Body-->
                                <div class="m-0">
                                    <!--begin::Title-->
                                    <a href="pages/profile/overview.html" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Metronic Admin - How To Started the Dashboard Tutorial</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark my-4">We’ve been focused on making a the from also not been afraid to and step away been focused create eye</div>
                                    <!--end::Text-->
                                    <!--begin::Content-->
                                    <div class="fs-6 fw-bolder">
                                        <!--begin::Author-->
                                        <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">Jane Miller</a>
                                        <!--end::Author-->
                                        <!--begin::Date-->
                                        <span class="text-muted">on Mar 21 2021</span>
                                        <!--end::Date-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Feature post-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-4">
                            <!--begin::Feature post-->
                            <div class="card-xl-stretch mx-md-3">
                                <!--begin::Image-->
                                <a class="d-block bgi-no-repeat bgi-size-cover bgi-position-center card-rounded position-relative min-h-175px mb-5" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x600/img-13.jpg')" data-fslightbox="lightbox-video-tutorials" href="https://www.youtube.com/embed/UPNvy-2ZtQM">
                                    <img src="~/Content/metronic/dist/assets/media/svg/misc/video-play.svg" class="position-absolute top-50 start-50 translate-middle" alt="" />
                                </a>
                                <!--end::Image-->
                                <!--begin::Body-->
                                <div class="m-0">
                                    <!--begin::Title-->
                                    <a href="pages/profile/overview.html" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Metronic Admin - How To Started the Dashboard Tutorial</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark my-4">We’ve been focused on making the from v4 to v5 but we have also not been afraid to step away been focused</div>
                                    <!--end::Text-->
                                    <!--begin::Content-->
                                    <div class="fs-6 fw-bolder">
                                        <!--begin::Author-->
                                        <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">Cris Morgan</a>
                                        <!--end::Author-->
                                        <!--begin::Date-->
                                        <span class="text-muted">on Apr 14 2021</span>
                                        <!--end::Date-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Feature post-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-4">
                            <!--begin::Feature post-->
                            <div class="card-xl-stretch ms-md-6">
                                <!--begin::Image-->
                                <a class="d-block bgi-no-repeat bgi-size-cover bgi-position-center card-rounded position-relative min-h-175px mb-5" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x400/img-47.jpg')" data-fslightbox="lightbox-video-tutorials" href="https://www.youtube.com/embed/gq3eQKc71kc">
                                    <img src="~/Content/metronic/dist/assets/media/svg/misc/video-play.svg" class="position-absolute top-50 start-50 translate-middle" alt="" />
                                </a>
                                <!--end::Image-->
                                <!--begin::Body-->
                                <div class="m-0">
                                    <!--begin::Title-->
                                    <a href="pages/profile/overview.html" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Metronic Admin - How To Started the Dashboard Tutorial</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark my-4">We’ve been focused on making the from v4 to v5 but we’ve also not been afraid to step away been focused</div>
                                    <!--end::Text-->
                                    <!--begin::Content-->
                                    <div class="fs-6 fw-bolder">
                                        <!--begin::Author-->
                                        <a href="pages/profile/overview.html" class="text-gray-700 text-hover-primary">Carles Nilson</a>
                                        <!--end::Author-->
                                        <!--begin::Date-->
                                        <span class="text-muted">on May 14 2021</span>
                                        <!--end::Date-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Feature post-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Section-->
                <!--begin::Section-->
                <div class="mb-17">
                    <!--begin::Content-->
                    <div class="d-flex flex-stack mb-5">
                        <!--begin::Title-->
                        <h3 class="text-black">Hottest Bundles</h3>
                        <!--end::Title-->
                        <!--begin::Link-->
                        <a href="#" class="fs-6 fw-bold link-primary">View All Offers</a>
                        <!--end::Link-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed mb-9"></div>
                    <!--end::Separator-->
                    <!--begin::Row-->
                    <div class="row g-10">
                        <!--begin::Col-->
                        <div class="col-md-4">
                            <!--begin::Hot sales post-->
                            <div class="card-xl-stretch me-md-6">
                                <!--begin::Overlay-->
                                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/600x400/img-23.jpg">
                                    <!--begin::Image-->
                                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x400/img-23.jpg')"></div>
                                    <!--end::Image-->
                                    <!--begin::Action-->
                                    <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                        <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                        <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Action-->
                                </a>
                                <!--end::Overlay-->
                                <!--begin::Body-->
                                <div class="mt-5">
                                    <!--begin::Title-->
                                    <a href="#" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">25 Products Mega Bundle with 50% off discount amazing</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">We’ve been focused on making a the from also not been eye</div>
                                    <!--end::Text-->
                                    <!--begin::Text-->
                                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                                        <!--begin::Label-->
                                        <span class="badge badge-white border-dashed fs-2 fw-bolder text-dark p-2">
                                            <span class="fs-6 fw-bold text-gray-400">$</span>28
                                        </span>
                                        <!--end::Label-->
                                        <!--begin::Action-->
                                        <a href="#" class="btn btn-primary">Purchase</a>
                                        <!--end::Action-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Hot sales post-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-4">
                            <!--begin::Hot sales post-->
                            <div class="card-xl-stretch mx-md-3">
                                <!--begin::Overlay-->
                                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/600x600/img-14.jpg">
                                    <!--begin::Image-->
                                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x600/img-14.jpg')"></div>
                                    <!--end::Image-->
                                    <!--begin::Action-->
                                    <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                        <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                        <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Action-->
                                </a>
                                <!--end::Overlay-->
                                <!--begin::Body-->
                                <div class="mt-5">
                                    <!--begin::Title-->
                                    <a href="#" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">25 Products Mega Bundle with 50% off discount amazing</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">We’ve been focused on making a the from also not been eye</div>
                                    <!--end::Text-->
                                    <!--begin::Text-->
                                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                                        <!--begin::Label-->
                                        <span class="badge badge-white border-dashed fs-2 fw-bolder text-dark p-2">
                                            <span class="fs-6 fw-bold text-gray-400">$</span>27
                                        </span>
                                        <!--end::Label-->
                                        <!--begin::Action-->
                                        <a href="#" class="btn btn-primary">Purchase</a>
                                        <!--end::Action-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Hot sales post-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-4">
                            <!--begin::Hot sales post-->
                            <div class="card-xl-stretch ms-md-6">
                                <!--begin::Overlay-->
                                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/600x400/img-71.jpg">
                                    <!--begin::Image-->
                                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x400/img-71.jpg')"></div>
                                    <!--end::Image-->
                                    <!--begin::Action-->
                                    <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                        <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                        <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Action-->
                                </a>
                                <!--end::Overlay-->
                                <!--begin::Body-->
                                <div class="mt-5">
                                    <!--begin::Title-->
                                    <a href="#" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">25 Products Mega Bundle with 50% off discount amazing</a>
                                    <!--end::Title-->
                                    <!--begin::Text-->
                                    <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">We’ve been focused on making a the from also not been eye</div>
                                    <!--end::Text-->
                                    <!--begin::Text-->
                                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                                        <!--begin::Label-->
                                        <span class="badge badge-white border-dashed fs-2 fw-bolder text-dark p-2">
                                            <span class="fs-6 fw-bold text-gray-400">$</span>25
                                        </span>
                                        <!--end::Label-->
                                        <!--begin::Action-->
                                        <a href="#" class="btn btn-primary">Purchase</a>
                                        <!--end::Action-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Hot sales post-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Section-->
                <!--begin::latest instagram-->
                <div class="">
                    <!--begin::Section-->
                    <div class="m-0">
                        <!--begin::Content-->
                        <div class="d-flex flex-stack">
                            <!--begin::Title-->
                            <h3 class="text-black">Latest Instagram Posts</h3>
                            <!--end::Title-->
                            <!--begin::Link-->
                            <a href="#" class="fs-6 fw-bold link-primary">View Instagram</a>
                            <!--end::Link-->
                        </div>
                        <!--end::Content-->
                        <!--begin::Separator-->
                        <div class="separator separator-dashed border-gray-300 mb-9 mt-5"></div>
                        <!--end::Separator-->
                    </div>
                    <!--end::Section-->
                    <!--begin::Row-->
                    <div class="row g-10 row-cols-2 row-cols-lg-5">
                        <!--begin::Col-->
                        <div class="col">
                            <!--begin::Overlay-->
                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/demos/demo9.png">
                                <!--begin::Image-->
                                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/demos/demo9.png')"></div>
                                <!--end::Image-->
                                <!--begin::Action-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                    <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                    <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Action-->
                            </a>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col">
                            <!--begin::Overlay-->
                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/900x600/32.jpg">
                                <!--begin::Image-->
                                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/stock/900x600/32.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Action-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                    <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                    <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Action-->
                            </a>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col">
                            <!--begin::Overlay-->
                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/demos/demo4.png">
                                <!--begin::Image-->
                                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/demos/demo4.png')"></div>
                                <!--end::Image-->
                                <!--begin::Action-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                    <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                    <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Action-->
                            </a>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col">
                            <!--begin::Overlay-->
                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/600x600/img-13.jpg">
                                <!--begin::Image-->
                                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x600/img-13.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Action-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                    <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                    <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Action-->
                            </a>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col">
                            <!--begin::Overlay-->
                            <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/media/stock/600x400/img-52.jpg">
                                <!--begin::Image-->
                                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('/Content/metronic/dist/assets/media/stock/600x400/img-52.jpg')"></div>
                                <!--end::Image-->
                                <!--begin::Action-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-10">
                                    <!--begin::Svg Icon | path: icons/duotone/Interface/Eye.svg-->
                                    <span class="svg-icon svg-icon-2hx svg-icon-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.25" d="M22.3422 9.506C23.5181 10.9837 23.5181 13.0163 22.3422 14.494C20.4739 16.8417 17.0265 20 11.9999 20C6.97341 20 3.526 16.8417 1.65772 14.494C0.481768 13.0163 0.481768 10.9837 1.65772 9.506C3.526 7.15826 6.97341 4 11.9999 4C17.0265 4 20.4739 7.15826 22.3422 9.506Z" fill="#12131A" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 11.9716 10.0006 11.9434 10.0018 11.9153C10.1577 11.9701 10.3253 12 10.5 12C11.3284 12 12 11.3284 12 10.5C12 10.3253 11.9701 10.1577 11.9153 10.0018C11.9434 10.0006 11.9716 10 12 10C13.1046 10 14 10.8954 14 12ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="#12131A" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </div>
                                <!--end::Action-->
                            </a>
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--begin::Row-->
                </div>
                <!--end::latest instagram-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Home card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->